.full-height {
    min-height: 80vh;
}

.welcome-title {
    font-size: 24px;
    color: #0c0b36;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
        font-size: 30px;
        letter-spacing: 4px;
    }
}

.welcome-subtitle {
    font-size: 20px;
    color: #0c0b36;
    font-weight: normal;
    text-align: center;
    line-height: 45px;

    @include media-breakpoint-up(md) {
        font-size: 24px;
    }
}

.committee-board {
    padding: 20px;
    text-align: center;

    .committee-image {
        object-fit: cover; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
        height: 150px;
        width: 150px;
        border-radius: 75px !important;
    }

    .committee-name {
        font-size: 20px;
        font-size: 600;
        line-height: 20px;
        color: #0c0b36;
    }

    .committee-title {
        font-size: 16px;
        font-size: normal;
        line-height: 20px;
        color: #d3d3d3;
    }
}
