.list-group {
    &.list-group-flush {
        .list-group-item {
            border: none;

            &.active {
                background: linear-gradient(
                    90deg,
                    rgba(255, 255, 255, 0),
                    rgba(255, 0, 0, 0.3)
                );
                border-right: 4px solid red;
                color: #0c0b36;
            }
        }
    }
}
